<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" (click)="homeClick()">Mock Int</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a (click)="homeClick()">About</a>
                </li>
                <li>
                    <a (click)="serviceClick()">Services</a>
                </li>
                <li>
                    <a>Contact</a>
                </li>
                <li>
                    <a href="#login">LogIn</a>
                </li>
                <li>
                    <a href="#register">Register</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Header -->
<a name="about"></a>
<div id="home" class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>We make your interview SUCCESS</h1>
                    <h3>PRACTICE interview with most experienced proffessionals</h3>
                    <hr class="intro-divider">
                    <h3>We develope your</h3>
                    <h3>Confidence | Comunication Skills | CV | Personal Grooing | Strengths</h3>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="services"></a>
<div id="services" class="content-section-a">
    <div class="container">
        <div class="row">
            <h1>Our Services</h1>
            <div class="col-lg-4 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">Interview Preparation</h2>
              <p align="justify" class="lead">Research, Practice are the key skills in clearing interview</p>
              <p align="justify" class="lead">We have Exerienced proffessionals in every domain, they will share their experience, projects and problem solving techniques which are crutial in clearing an interview.</p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Career Guidance</h2>
                <p align="justify" class="lead">Are you a fresher or recent graduate having confusion in choosing your career ?</p>
                <p align="justify" class="lead">We are here to help you</p>
            </div>
            <div class="col-lg-4 col-sm-6">
              <hr class="section-heading-spacer">
              <div class="clearfix"></div>
              <h2 class="section-heading">Resume Preparation</h2>
              <p align="justify" class="lead">Your Resume will give first impression.Most of the resumes are rejected by Machines. Recruiter hardly have 30sec to look into your profile. You might be experienced and talented but some times your resume might get rejected</p>
              <p align="justify" class="lead">Our proffessional resume writers will help you</p>
            </div>
            <p class="lead">Please <a href="#/register">Register</a> here</p>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-4 col-sm-6">
          </div>
          <div class="col-lg-4 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Invite for Mentors</h2>
            <p align="justify" class="lead">Are you an experienced proffesional and have previous mentor experience and looking to earn</p>
            <p class="lead">Please <a href="#/register">Register</a> here</p>
          </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->


<hr>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a>About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a>Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a>Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
